body {
    width: 100%;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

.container {
    margin: 0 auto;
}

.header {
    min-height: 2rem; 
    background-color: #f3f0f0e7;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__name {
    font-size: large;
    font-weight: 700;
}

.search input {
    border-radius: 6px;
    padding: 10px;
    width: 15rem;
}

.search button {
    background-color: transparent;
    border-radius: 6px;
    border: 1px solid #2589e0;
    color: blue;
    width: 5rem;
    height: 2.5rem;
    margin: 0 1rem;
}

.search button.clear {
    color: red;
    border-color: #e7312a;
}

.content {
    display: flex;
    flex-direction: row;
}

.aside {
    min-width: 15rem;
    padding: 1rem;
}

.content h2 {
    font-weight: 400;
}

.content .count > * {
    margin-bottom: 1rem;
}

.vertical__divider {
    margin: 1rem;
    border-left: 2px solid #BaBABA;
    min-height: 500px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

ul li {
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: 2px solid #BBBB;
}

.item-card {
    max-width: 420px;
}

.item-container__image {
    min-height: 200px;
    max-width: 420px;
    cursor: pointer;
}

.item_form {
    margin: 0.5rem;
}
